# Ignore all by default

/*
!/dunst/
/dunst/*
!compton/
/compton/*
!/termite/
/termite/*
!/rofi/
/rofi/*
!redshift/
/redshift/*
!/i3/
/i3/*
!/weechat
/weechat/*

# Add all i3 scripts
!/i3scripts/

# Add files
!/.gitignore
!/linux_log
!/zshrc

!/i3/config
!/i3/i3blocks
!/dunst/config
!/compton/config
!/termite/config
!/rofi/config
!/redshift/config
!/weechat/weechat.conf

