# Ignore all by default
/*

# Add folders
!/.config/
/.config/*
!/.config/dunst/
/.config/dunst/*
!/.config/compton/
/.config/compton/*
!/.config/termite/
/.config/termite/*
!/.config/rofi/
/.config/rofi/*
!/.config/i3scripts/

# Add files
!/.gitignore
!/linux_log
!/.bashrc

!/.config/i3/config
!/.config/i3/i3blocks
!/.config/dunst/config
!/.config/compton/config
!/.config/termite/config
!/.config/rofi/config
